.btn-wrap{
    width: 66%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
button{
    font-size: 20px;
    width: 50px;
}
.wrap {
    width: 230px;
    margin: auto;
    border: 1px solid black;
    padding: 30px

}
#inp{
    height: 50px;
    margin: 10px 0;
    padding:0 15px;
    font-size: 20px;
    width: 80%;
}
h2{
    margin: 0;
    padding: 0;
}